<h1>Edit user</h1>
<!--if @user is new record - POST
, else PUT (faked with POST and hidden field _method)
, action -> determined from @user /users/user_id-->
<%= form_for(@user) do |f| %>
  <%= render 'fields', :f => f %>
  <div class="actions">
    <%= f.submit "Update"%>
  </div>
<% end %>

<div>
  <%= gravatar_for @user %>
  <%= link_to "change", "http://gravatar.com/emails", :target => "_blank" %>
  
</div>
